# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
**/__pycache__/

# Dataset
data/download_*.log
data/missing.txt
data/raw_videos/
data/raw_videos_mp4/
data/videos/
data/processed
data

